@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

body {
  /*  background-image: url("/assets/images/kids_clouds_bg.jpg"); this image is from https://wallpapersafari.com/w/JD9L2H */

  font-family: "Roboto", sans-serif;
  color: rgba(0, 0, 0, 0.5);
}

/*-------------------------------------------- Colors*/

.bg-section-body {
  background-color: #ffffff;
}

.list-group-item {
  background-color: #f0f2f5;
}

.list-group-item-action {
  color: #495057;
  background-color: #f8f9fa;
}

.tiles-all {
  background-color: #fff;
}

.tiles {
  background-color: #fafafa;
}

.tiles-all h4 {
  background-color:#fafafa;
}

.c-storydetails {
  background-color: #fafafa;
}

footer {
  background-color: #fafafa;
}

.c-icon-contactus {
  background-color: #67b774;
  color: #fafafa;
}

/*-------------------------------------------- Content Body*/

.list-group-item-action {
  width: 600px;
  z-index: 1;
  text-decoration: none;
}

/*-------------------------------------------- Content Body - Custom*/

.tiles {
  width: 600px;
  padding: 8px;
  margin-bottom: 20px;
  max-height: 450px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid rgb(53, 13, 13);
}

.c-story-header {
  display: block;
}

.tiles-all h4 {
    font-weight: 400;
  position: relative;
  bottom: -10px;
  display: inline-block;
  margin: auto 10px;
}

.t-author {
  display: block;
}

.c-storydetails {
  float: right;
}

.tiles span {
  text-align: right;
  float: right;
}

.tiles p {
    font-weight: 600;
}

.tiles .fa-thumbs-up {
  font-size: 30px;
  color: #f37011bf;
  cursor: pointer;
  user-select: none;
  transition: transform 0.2s;
}

.tiles .fa-thumbs-up:hover {
  color: #f37011;
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari 3-8 */
  transform: scale(1.2);
}

/*-------------------------------------------- Footer*/

#c-footer-contactus {
  text-align: right;
  font-size: 24px;
  margin-top: 25px;
  margin-right: 15%;
  margin-left: 10px;
}

.c-icon-contactus {
  margin-right: 10px;
  width: 30px;
  height: 30px;
  font-size: 20px;
  padding: 5px 0;
  text-align: center;
  border-radius: 50%;
}

footer a {
  color: rgba(0, 0, 0, 0.5);
}

footer a:hover {
 color: rgba(0, 0, 0, 0.9);
  text-decoration: none;
}

#c-social-div {
  display: inline-block;
  text-align: right;
  font-size: 1.35 em;
  margin: 10px 0;
  margin-left: 15%;
}

.h3,
h3 {
  /*Social media title*/
  font-size: 1.35rem;
  margin-bottom: 0;
}

dl,
ol,
ul {
  /*social media fonts*/
  margin-top: 0;
  margin-bottom: 0;
}

footer .c-social-fonts:hover {
  color: #f37011bf;
}

.c-social-fonts {
  font-size: 20px;
  margin-top: 5px;
  line-height: 20px;
  transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
}

footer .social-icons {
  text-align: center;
}

/*-------------------------------------------- Footer*/

.modal-body h5 {
    margin-bottom: 14px;
}

.c-float-right {
    float: right;
}

.modal-body hr {
    margin: 21px 155px;
    border-top: 1px solid rgba(0,0,0,.2);
}

.modal-body select[class=form-control] {
    width: 49%;
    float: right;
}

modal-body label .c-label {
    margin-top: 10px;
}